<div class="panel-group">

		
	<font face="arial" size="6" color="black">
		Comentarios:
	</font>


	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<% comments = Favor.find(params[:id]).comments.all.order(:id)%>

				<% if comments.empty? %>
           			<p>
						<font face="arial" size="5" > No tienes comentarios </font>
					</p>
           		<% else %>
					<% comments.each do |c| %>
									
						<table class="table">
						
							<tr> 
								<td>
									<font face="arial" size="4" color="black">
										<%= c.user.name %>
										<%= c.user.apellido %>
									</font>
									    Escribió el: <%= c.created_at%>
								</td>
							</tr>

							<tr>
								<td>
									<font face="arial" size="3" color="grey">
										<%= c.detalle %>
									</font>
								</td>
							</tr> 

						</table>

					<% end %>

            	<% end %>

			</div>
		</div>
	</div>
			
</div>