<div class="panel-group">

	<div class="col-md-10">
		<div class="panel panel-default">
			
			<div class="panel-body">

				<% if user_signed_in? %>
					<h1>
						Bienvenido a Gauchada! 
					</h1>
				<% else %>
					<h1>
						Bienvenido a Gauchada!
					</h1>
					<h2>
						Inicia sesión para ver todo el contenido y pedir gauchadas!
					</h2>
				<%end%>
			
			</div>

		</div>
	</div>
	
	<%= render "favors/favorsIndex" %>
	
</div>

