<div class="container-fluid">

	<% if user_signed_in? %>
		<div class="col-md-10">
			<h1>
				Bienvenido a Gauchada! 
			</h1>
		</div>
	<% else %>
		<div class="col-md-10 col-md-offset-2">
			<h1>
				Bienvenido a Gauchada!
			</h1>
			<h2>
				Inicia sesión para ver todo el contenido y pedir gauchadas!
			</h2>
		</div>
	<%end%>	

	<%= render "favors/favorsIndex" %>
</div>

