<div class="panel-group">

	<div class="col-md-4 col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					Pagina Principal
				</p>
			</div>

		</div>

		<div class="panel panel-default">
			
			<div class="panel-body">
				<p>
					<h1> Bienvenido! </h1>
				</p>

				<% if user_signed_in? %>
					<p>
						Bienvenido <%= current_user.name %> <%= current_user.apellido %> 
					</p>
				<%end%>
			</div>

		</div>
	
	</div>

</div>